
@{
    ViewBag.Title = "О нас";
}

<div class="row about-header">
    <div class="col-sm-12 col-lg-12 col-md-12 col-sm-12 text-center">
        <h2>О нас</h2>
    </div>
</div>

<div class="row about-body">
    <div class="col-sm-3 col-lg-3 col-md-3 col-sm-3"></div>
    <div class="col-sm-8 col-lg-8 col-md-8 col-sm-8">
        <p><strong>Мир Цветов</strong> - Уникальный флористический салон с минимальными ценами и широчайшим ассортиментом живых цветов, комнатных растений, грунтов, удобрений, керамических и пластиковых горшков, товаров для сада и огорода и многое другое!</p>
        <p>Наши сотрудники — профессиональные флористы и дизайнеры с многолетним опытом работы и бесконечным желанием создавать интересные композиции, удивлять и радовать покупателя. Так что качество нашей работы не оставляет сомнений: все цветочные композиции отличаются оригинальностью, стилем и прекрасным исполнением.</p>
        <p>Наш интернет-магазин «Мир цветов" дает возможность сразу же ознакомиться со всем ассортиментом и, не отходя от компьютера, сделать заказ и оплатить его, находясь на сайте. Но, если покупателю требуется помощь в выборе букета или цветочной композиции, приуроченному к тому или иному торжеству, он всегда может связаться с консультантами магазина через он-лайн заявку или по телефону и получить ответы на свои вопрос.</p>
        <p>Основные направления салона "Мир цветов": <br />
            -подарочная флористика;<br />
            -свадебная флористика;<br />
            -оформление живыми цветами ресторанов, офисов, залов и т.д.;<br />
            -оформление любых праздничных торжеств;<br />
            -украшение свадебных кортежей.
        </p>
        <p>
            <strong>
                Наш телефон: <br />
                8 (927) 066-44-44
            </strong>
        </p>
        <p>Офис по адресу:ул. Тургенева д. 4</p>
        <img src="~/Content/Images/company.jpg" />
        <p>Мы работаем круглосуточно!</p>
        <p>У нас работает бесплатная служба доставки, которая оперативно доставит Ваш заказ в удобное для Вас время.</p>
        <br />
        
        <p>Ниже на карте показаны все офисы нашей компании:</p>
        <p class="text-center"><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=bIiXTxul0vxmORyFTSUL9MwlxBCM2uxX&amp;width=834&amp;height=518&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script></p>
    </div>
</div>

