
@{
    ViewBag.Title = "Магазин Цветов";
}

<div class="row slider">
    <div class="col-sm-10 col-lg-10 col-md-10 col-xs-10 col-sm-offset-1">

        <div id="carousel" class="carousel">


            <div class="carousel-inner">

                <div class="item active">
                    
                    <img src="~/Content/Images/slide1.jpg" alt="" />
                    <div class="carousel-caption">
                        <h2>Свадебные букеты</h2>
                        <span>Изготавливаются профессиональными флористами </span>
                    </div>
                </div>

                <div class="item slide2">
                    <div class="carousel-caption">
                        <h2>Пусть ваш подарок <br /> &nbsp; будет особенным</h2>
                    </div>
                    <img src="~/Content/Images/slide2.jpg" alt="" />
                </div>

                <div class="item slide3">
                    <div class="carousel-caption">
                        <h2>Оформление горшечных <br /> растений</h2>
                    </div>
                    <img src="~/Content/Images/slide3.jpg" alt="" />

                </div>

            </div>

            <a href="#carousel" class="left carousel-control" data-slide="prev">
                <i class="fa fa-arrow-circle-left"></i>
            </a>

            <a href="#carousel" class="right carousel-control" data-slide="next">
                <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
 
    </div>
</div>

<div class="row featured-row">
    <div class="col-sm-3 col-lg-3 col-md-3 col-sm-3"></div>
    <div class="col-sm-8 col-lg-8 col-md-8 col-sm-8 text-center">
        <h2>Наши лучшие работы</h2>
        <br />
        <br />
        <div class="row">
            <div class="col-sm-6 best-item text-center"><img src="~/Content/Images/featured-1.jpg"/></div>
            <div class="col-sm-6 best-item text-center"><img src="~/Content/Images/featured-2.jpg" /></div>
        </div>
        <div class="row">
            <div class="col-sm-6 best-item text-center"><img src="~/Content/Images/featured-3.jpg" /></div>
            <div class="col-sm-6 best-item text-center"><img src="~/Content/Images/featured-4.jpg" /></div>
        </div>
    </div>
</div>