
@{
    ViewBag.Title = "Магазин Цветов";
}

<div class="row slider">
    <div class="col-sm-10 col-sm-offset-1">

        <div id="carousel" class="carousel">


            <div class="carousel-inner">

                <div class="item active">
                    
                    <img src="~/Content/Images/slide1.jpg" alt="" />
                    <div class="carousel-caption">
                        <h2>Свадебные букеты</h2>
                        <span>Изготавливаются профессиональными флористами </span>
                    </div>
                </div>

                <div class="item slide2">
                    <div class="carousel-caption">
                        <h2>Пусть ваш подарок <br /> &nbsp; будет особенным</h2>
                    </div>
                    <img src="~/Content/Images/slide2.jpg" alt="" />
                </div>

                <div class="item slide3">
                    <div class="carousel-caption">
                        <h2>Оформление горшечных <br /> растений</h2>
                    </div>
                    <img src="~/Content/Images/slide3.jpg" alt="" />

                </div>

            </div>

            <a href="#carousel" class="left carousel-control" data-slide="prev">
                <i class="fa fa-arrow-circle-left"></i>
            </a>

            <a href="#carousel" class="right carousel-control" data-slide="next">
                <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
 
    </div>
</div>

<div class="row featured-row">
    <div class="col-sm-12 text-center">
        <h2>Рекомендуемые товары</h2>
        <span>Здесь вы найдете лучшие товары нашего магазина и товары со скидками.</span>
    </div>
</div>

<div class="row">
    <div class="col-sm-9 col-sm-offset-2">

        <div class="row">
            <div class="col-sm-3 col-sm-2 featured-item"></div>
            <div class="col-sm-3 featured-item"></div>
            <div class="col-sm-3 featured-item"></div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-sm-2 featured-item"></div>
            <div class="col-sm-3 featured-item"></div>
            <div class="col-sm-3 featured-item"></div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-sm-2 featured-item"></div>
            <div class="col-sm-3 featured-item"></div>
            <div class="col-sm-3 featured-item"></div>
        </div>

    </div>
</div>