/*Fonts include*/

@font-face {
    font-family: 'BadScript-Regular';
    src: url('/fonts/BadScript-Regular.ttf');
    font-weight:normal;
    font-style:normal;
}


html,body {
 padding:0px;
 margin:0px;
 height:100%;
}

.icon{
    width:270px;
    height:85px;
}

.search{
    margin:50px 30px 0 0;
}

.search-tb {
    border-radius: 3px;
    border: solid 2px#f83c8d;
    width: 300px;
    height: 36px;
    font-size: 1.5em;
}

.search-icon {
    color: #f83c8d;
    font-size: 1.5em;
    border: 0;
    background: none;
}

/*Menu*/
.menu{
    margin-top:30px;
    background-color:#f83c8d;
    height:40px;
}

.menu li{
    display:inline-block;
    margin:2px 0 0 50px;
}

.menu a{
    color:#fff;
    font-size:2em;
    font-family:BadScript-Regular;
    text-decoration:none;
}

/*Slider*/
.slider{
    margin-top:100px;
}

.carousel-control i{
    margin-top:150px;
    color:#f83c8d;
    font-size:2em;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel-caption{
    bottom:auto;
    top:10%;    
    right:auto;
    left:5%;
}

.carousel-caption h2,span{
    color:#f83c8d;
    font-family:BadScript-Regular;
}

.slide2, .slide3{
    margin-left:150px;
}


.carousel-caption h2{
    font-size:4em;
}

.carousel-caption span{
    font-size:2em;
}

.carousel-caption span,

.carousel-caption span{
}

.carousel-inner .item img{
    position:relative;
    left:50%;
    height:auto;
    max-width:100%;
}

#carousel {
  margin-left: 10px;
  margin-right: 10px;
}

.carousel-control.left , .carousel-control.right  {
  margin-left: -75px;
}

.featured-row{
    font-family:BadScript-Regular;
    color:#f83c8d;
    margin-top:150px;
}

.featured-row h2{
    font-size:5em;
}

.featured-row span{
    font-size:2em;
}

.featured-item{
    border:solid 1px;
    background-color:#ff6a00;
    width:350px;
    height:325px;
}

/*FOOTER*/

.footer a{
    color:#f83c8d;
    font-size:1.4em;
    font-family:Roboto;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
    font-weight:normal;
    font-family:Arial;
}

.field-validation-error span {
    color: #f00;
    font-weight:normal;
    font-family:Arial;
}
 
.field-validation-valid {
    display: none;
}
 
.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}
 
.validation-summary-errors {
    font-weight: bold;
    color: #f00;
    font-size:1.2em;
}
 
.validation-summary-valid {
    display: none;
}

.vertical-offset-100{
    padding-top:100px;
}
/*Login Page*/
.login-bg{
  background: url(Images/login-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
}

.login-card {
  margin-top:150px;
  padding: 40px;
  width: 354px;
  background-color: #F7F7F7;
  margin: 0 auto 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.login-card h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
}

.login-card input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.login-card input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.login-card input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
}

.login-submit {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
}

.login-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
}

.login-card a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-card a:hover {
  opacity: 1;
}

/*Admin Panel*/
.admin-body{
    font-family:Arial;
    font-size:18px;
}


h1.page-header {
    margin-top: -5px;
}

.sidebar {
	padding-left: 15px;
}
.margin-item{
    margin-top:30px;
}
.main-container { 
	background-color:#fff;
	margin-top: -20px;
}

.footer {
	width: 100%;
}  

:focus {
	outline: none;
}

.side-menu {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #f8f8f8;
	border-right: 1px solid #e7e7e7;
}
.side-menu .navbar {
	border: none;
}
.side-menu .navbar-header {
	width: 100%;
	border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav .active a {
	background-color: transparent;
	margin-right: -1px;
	border-right: 5px solid #e7e7e7;
}
.side-menu .navbar-nav li {
	display: block;
	width: 100%;
	border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav li a {
	padding: 15px;
}
.side-menu .navbar-nav li a .glyphicon {
	padding-right: 10px;
}
.side-menu #dropdown {
	border: 0;
	margin-bottom: 0;
	border-radius: 0;
	background-color: transparent;
	box-shadow: none;
}
.side-menu #dropdown .caret {
	float: right;
	margin: 9px 5px 0;
}
.side-menu #dropdown .indicator {
	float: right;
}
.side-menu #dropdown > a {
	border-bottom: 1px solid #e7e7e7;
}
.side-menu #dropdown .panel-body {
	padding: 0;
	background-color: #f3f3f3;
}
.side-menu #dropdown .panel-body .navbar-nav {
	width: 100%;
}
.side-menu #dropdown .panel-body .navbar-nav li {
	padding-left: 15px;
	border-bottom: 1px solid #e7e7e7;
}
.side-menu #dropdown .panel-body .navbar-nav li:last-child {
	border-bottom: none;
}
.side-menu #dropdown .panel-body .panel > a {
	margin-left: -20px;
	padding-left: 35px;
}
.side-menu #dropdown .panel-body .panel-body {
	margin-left: -15px;
}
.side-menu #dropdown .panel-body .panel-body li {
	padding-left: 30px;
}
.side-menu #dropdown .panel-body .panel-body li:last-child {
	border-bottom: 1px solid #e7e7e7;
}
.side-menu #search-trigger {
	background-color: #f3f3f3;
	border: 0;
	border-radius: 0;
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px 18px;
}
.side-menu .brand-name-wrapper {
	min-height: 50px;
}
.side-menu .brand-name-wrapper .navbar-brand {
	display: block;
}
.side-menu #search {
	position: relative;
	z-index: 1000;
}
.side-menu #search .panel-body {
	padding: 0;
}
.side-menu #search .panel-body .navbar-form {
	padding: 0;
	padding-right: 50px;
	width: 100%;
	margin: 0;
	position: relative;
	border-top: 1px solid #e7e7e7;
}
.side-menu #search .panel-body .navbar-form .form-group {
	width: 100%;
	position: relative;
}
.side-menu #search .panel-body .navbar-form input {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	width: 100%;
	height: 50px;
}
.side-menu #search .panel-body .navbar-form .btn {
	position: absolute;
	right: 0;
	top: 0;
	border: 0;
	border-radius: 0;
	background-color: #f3f3f3;
	padding: 15px 18px;
}
/* Main body section */
.side-body {
	margin-left: 310px;
}
/* small screen */
@media (max-width: 768px) {
	.side-menu {
		position: relative;
		width: 100%;
		height: 0;
		border-right: 0;
	}

	.side-menu .navbar {
		z-index: 999;
		position: relative;
		height: 0;
		min-height: 0;
		background-color:none !important;
		border-color: none !important;
	}
	.side-menu .brand-name-wrapper .navbar-brand {
		display: inline-block;
	}
	/* Slide in animation */
	@-moz-keyframes slidein {
		0% {
			left: -300px;
		}
		100% {
			left: 10px;
		}
	}
	@-webkit-keyframes slidein {
		0% {
			left: -300px;
		}
		100% {
			left: 10px;
		}
	}
	@keyframes slidein {
		0% {
			left: -300px;
		}
		100% {
			left: 10px;
		}
	}
	@-moz-keyframes slideout {
		0% {
			left: 0;
		}
		100% {
			left: -300px;
		}
	}
	@-webkit-keyframes slideout {
		0% {
			left: 0;
		}
		100% {
			left: -300px;
		}
	}
	@keyframes slideout {
		0% {
			left: 0;
		}
		100% {
			left: -300px;
		}
	}

	.side-menu-container > .navbar-nav.slide-in {
		-moz-animation: slidein 300ms forwards;
		-o-animation: slidein 300ms forwards;
		-webkit-animation: slidein 300ms forwards;
		animation: slidein 300ms forwards;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
	.side-menu-container > .navbar-nav {
		
		position: fixed;
		left: -300px;
		width: 300px;
		top: 43px;
		height: 100%;
		border-right: 1px solid #e7e7e7;
		background-color: #f8f8f8;
		overflow: auto;
		-moz-animation: slideout 300ms forwards;
		-o-animation: slideout 300ms forwards;
		-webkit-animation: slideout 300ms forwards;
		animation: slideout 300ms forwards;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
	@-moz-keyframes bodyslidein {
		0% {
			left: 0;
		}
		100% {
			left: 300px;
		}
	}
	@-webkit-keyframes bodyslidein {
		0% {
			left: 0;
		}
		100% {
			left: 300px;
		}
	}
	@keyframes bodyslidein {
		0% {
			left: 0;
		}
		100% {
			left: 300px;
		}
	}
	@-moz-keyframes bodyslideout {
		0% {
			left: 300px;
		}
		100% {
			left: 0;
		}
	}
	@-webkit-keyframes bodyslideout {
		0% {
			left: 300px;
		}
		100% {
			left: 0;
		}
	}
	@keyframes bodyslideout {
		0% {
			left: 300px;
		}
		100% {
			left: 0;
		}
	}
	
	.side-body {
		margin-left: 5px;
		margin-top: 70px;
		position: relative;
		-moz-animation: bodyslideout 300ms forwards;
		-o-animation: bodyslideout 300ms forwards;
		-webkit-animation: bodyslideout 300ms forwards;
		animation: bodyslideout 300ms forwards;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
	.body-slide-in {
		-moz-animation: bodyslidein 300ms forwards;
		-o-animation: bodyslidein 300ms forwards;
		-webkit-animation: bodyslidein 300ms forwards;
		animation: bodyslidein 300ms forwards;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
	
	.navbar-toggle-sidebar {
		border: 0;
		float: left;
		padding: 18px;
		margin: 0;
		border-radius: 0;
		background-color: #f3f3f3;
	}
	/* Search */
	#search .panel-body .navbar-form {
		border-bottom: 0;
	}
	#search .panel-body .navbar-form .form-group {
		margin: 0;
	}
	.side-menu .navbar-header {
		
		position: fixed;
		z-index: 3;
		background-color: #f8f8f8;
	}
	
	#dropdown .panel-body .navbar-nav {
		margin: 0;
	}
}

.admin-logo h1{
    color:#f83c8d;
    font-family:BadScript-Regular;
    margin-top:-8px;
}

.fa-times{
    color:red;
}

.fa-pencil-square-o, .fa-user-plus, .user-add, .fa-plus-circle{
    color:#f83c8d;
}
.fa-pencil-square-o, .fa-user-plus, .user-add, .fa-plus-circle, .fin-orders a{
    text-decoration:none;
}

.btn-add, .btn-add:hover, .btn-add:active, .btn-add:visited{
    background-color:#f83c8d!important;
    color:#fff;
}

/*Catalog Page*/
.catalog{
    margin-top:100px;
}

.catalog a{
    text-decoration:none;
}

.catalog-item{
    width:250px;
    height:300px;
    border:solid 1px #f83c8d;
    border-radius:30px;
    display:inline-block;
    padding:20px 5px 10px 5px;
    margin-left:30px;
    font-size:2em;
}

.product-item{
    width:300px;
    height:330px;
    border:solid 1px #f83c8d;
    border-radius:5px;
    display:inline-block;
    padding:20px 5px 10px 5px;
    margin:20px 10px 10px 10px;
}

.product-item a{
    text-decoration:none;
}
.catalog-header{
    margin-top:80px;
    color:#f83c8d;
    font-size:5em;
    font-family:Georgia;
}
.product-item span {
    margin-top: 7px;
    font-size: 1.5em;
    font-family: Arial;
}

.product-filter{
    margin-top:120px;
}

.item-filter span{
    font-family:Tahoma;
    font-size:16px;
}

input[type="text"].price-tb {
    width:100px;
    border-radius: 3px;
}

.product-filter h2{
    margin-top:10px;
    margin-bottom:100px;
    color:#f83c8d;
    font-size:5em;
    font-family:BadScript-Regular;
}

.catalog-text{
    margin-top:100px;
    font-family:Georgia;
    font-size:16px;
    line-height:24px;
    color:#000;
}

.modal-body dd,dt{
    margin-top:10px;
}

.tb-description{
    width:300px;
    height:70px;
}

.order-add {
    margin-left: 200px;
}

.search-header {
    border: solid 1px #f83c8d;
    border-radius: 3px;
    height:60px;
}

.search-header h2{
    font-family: Arial; 
}

.search-item{
    margin-left:-280px;
}

/*About Page*/

.about-header{
    margin-top:80px;
}

.about-body{
    font-size:16px;
}

.best-item{
    width:450px;
    height:450px;
    border:solid 1px #f83c8d;
    border-radius:5px;
    padding:10px;
    margin:10px;
}